<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
			"http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
<bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
<property name="staticMethod" value="com.santosh.Test.setCarName"></property>
<property name="arguments">
<list>
<value>com.santosh.Audi</value>
</list>
</property>
</bean>
<bean id="c" class="com.santosh.Test" factory-method="getCar"></bean>


</beans>